<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Scrolling Nav - Start Bootstrap Template</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'Optica/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">                
                <a class="navbar-brand" href="{% url 'inicio' %}">|  Optica </a>
                <a class="navbar-brand" href="{% url 'cristales' %}">|  Cristales </a>
                <a class="navbar-brand" href="{% url 'Optica-cristales-buscar' %}">|  Buscar Cristales </a>
                <a class="navbar-brand" href="{% url 'liquidos' %}">|  Liquidos </a>
                <a class="navbar-brand" href="{% url 'Optica-liquidos-buscar' %}">|  Buscar Liquidos </a>
                <a class="navbar-brand" href="{% url 'marcos' %}">|  Marcos |</a>
                <a class="navbar-brand" href="{% url 'Optica-marcos-buscar' %}">|  Buscar Marcos |</a>

                
                <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>-->
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                       <!--  <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>-->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                {% block TituloBanner %}

                <h1 class="fw-bolder">Bienvenidos a la pagina de Optica</h1>

                {% endblock %}
                <!--<p class="lead">A functional Bootstrap 5 boilerplate for one page scrolling websites</p> -->
                <!--<a class="btn btn-lg btn-light" href="#about">Start scrolling!</a>-->
            </div>
        </header>
        <!-- About section-->
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        {% block Sector1 %}
                        <p>Donec pellentesque nunc quis nunc maximus consectetur. Phasellus id fermentum nisl. Vestibulum massa diam, malesuada sed gravida eget, convallis id neque. Etiam nec orci risus. Sed in odio sit amet elit sodales consequat vel condimentum tellus. Nunc vel tellus sit amet tortor euismod molestie. Etiam lorem erat, tincidunt nec efficitur in, volutpat eu arcu. Nulla molestie nisl at nibh posuere molestie non sit amet lorem.</p>

                        {% endblock %}
                    </div>
                </div>
            </div>
        </section>
        <!-- Services section-->
        <section class="bg-light" id="services">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        {% block Sector2 %}
                        <p>Donec pellentesque nunc quis nunc maximus consectetur. Phasellus id fermentum nisl. Vestibulum massa diam, malesuada sed gravida eget, convallis id neque. Etiam nec orci risus. Sed in odio sit amet elit sodales consequat vel condimentum tellus. Nunc vel tellus sit amet tortor euismod molestie. Etiam lorem erat, tincidunt nec efficitur in, volutpat eu arcu. Nulla molestie nisl at nibh posuere molestie non sit amet lorem.</p>

                        {% endblock %}
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact section-->
        <section id="contact">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        {% block Sector3 %}
                        <p>Donec pellentesque nunc quis nunc maximus consectetur. Phasellus id fermentum nisl. Vestibulum massa diam, malesuada sed gravida eget, convallis id neque. Etiam nec orci risus. Sed in odio sit amet elit sodales consequat vel condimentum tellus. Nunc vel tellus sit amet tortor euismod molestie. Etiam lorem erat, tincidunt nec efficitur in, volutpat eu arcu. Nulla molestie nisl at nibh posuere molestie non sit amet lorem.</p>

                        {% endblock %}
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'Optica/js/scripts.js' %}"></script>
    </body>
</html>
