{% extends "Optica/base.html" %}

{% block TituloBanner %}

<h1 class="fw-bolder">Bienvenidos a la carga de marcos</h1>

{% endblock %}


{% block Sector1 %}
<h1>CARGADOR DE MARCOS</h1>
<form action="" method="post">
    {% csrf_token %}

    {{ formulario.as_p }}

    <input type="submit" value="Cargar Marco">
</form>
{% endblock %}


{% block Sector2 %}
<p>Integer consectetur hendrerit mauris. Nulla tincidunt odio sed neque pharetra laoreet. Duis rutrum efficitur dolor, sed porta tellus. Phasellus vestibulum lorem arcu, ac maximus leo tempor eget. Cras sed maximus ante. Morbi ex massa, elementum id hendrerit a, maximus a nisl. Fusce sollicitudin nisl condimentum, semper sem quis, dignissim sapien. Phasellus mollis ultrices lacus non condimentum. Proin quis porta nulla. Nulla laoreet erat ut lacus dictum, ac ullamcorper ex egestas. Cras porta tincidunt ligula, a consectetur sem interdum sagittis. Quisque in ornare quam.</p>
{% endblock %}


{% block Sector3 %}
<p>Nunc vel facilisis tellus, quis eleifend justo. Aenean metus lacus, accumsan at justo vel, finibus iaculis metus. In vitae arcu vel nibh hendrerit porta. Fusce porta egestas ex eget vehicula. In suscipit nibh ligula. Vestibulum sit amet neque id tellus interdum finibus. Nam placerat justo ac volutpat vehicula. Suspendisse suscipit pellentesque euismod. Praesent sit amet elit pellentesque, scelerisque orci in, imperdiet nisi. Quisque vehicula odio ac nisi egestas dictum. Nulla pellentesque ornare lorem, et tincidunt sem lobortis ut. In feugiat cursus porttitor. Phasellus a viverra lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec mauris erat, commodo at diam ac, scelerisque condimentum nibh. Mauris tellus tellus, blandit at turpis ut, auctor tempus nulla.</p>
{% endblock %}