{% extends "Optica/base.html" %}

{% block TituloBanner %}

<h1 class="fw-bolder">Bienvenidos a la carga de liquidos</h1>

{% endblock %}


{% block Sector1 %}
<p>In eu semper est. Sed faucibus luctus lectus, in pharetra massa ullamcorper eget. Etiam dapibus, lectus ac aliquet mattis, dolor magna lacinia odio, non accumsan libero quam id elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tristique tincidunt purus, eget dictum mi convallis quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus non turpis massa.</p>
{% endblock %}


{% block Sector2 %}
<p>Maecenas congue tortor nec mauris mattis vestibulum. Nullam interdum euismod dapibus. Morbi ornare dapibus risus sed tempus. Praesent efficitur tellus id suscipit condimentum. Donec id odio faucibus, aliquam nisi non, aliquet mauris. Mauris tempor elit dui, eget hendrerit sapien semper at. Cras luctus mauris ac sem interdum convallis nec sed tortor.</p>
{% endblock %}


{% block Sector3 %}
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas lorem quis vulputate commodo. Nullam quam elit, interdum quis diam eu, iaculis porta neque. Suspendisse a hendrerit ex, id rhoncus nunc. Mauris eu est sit amet tellus congue aliquet in nec tellus. Sed eleifend sodales odio quis venenatis. Duis lobortis tellus vel est dignissim molestie. Cras sollicitudin nibh a justo scelerisque venenatis. Vivamus placerat sed justo vel tristique. Curabitur libero sem, euismod sed libero in, rutrum bibendum ante. Curabitur purus nisi, sodales sit amet arcu id, mollis ultrices nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
{% endblock %}