{% extends "Optica/base.html" %}

{% block TituloBanner %}

<h1 class="fw-bolder">Bienvenidos a la busqueda de marcos</h1>

{% endblock %}


{% block Sector1 %}
<h1>RESULTADOS:</h1>
    <ul>
        {% for marco in marcos %}
            <li> {{marco.nombre}} - {{marco.marca}} - ${{marco.precio}} </li>
        {% endfor %}

    </ul>


{% endblock %}


{% block Sector2 %}
<p>Donec pellentesque nunc quis nunc maximus consectetur. Phasellus id fermentum nisl. Vestibulum massa diam, malesuada sed gravida eget, convallis id neque. Etiam nec orci risus. Sed in odio sit amet elit sodales consequat vel condimentum tellus. Nunc vel tellus sit amet tortor euismod molestie. Etiam lorem erat, tincidunt nec efficitur in, volutpat eu arcu. Nulla molestie nisl at nibh posuere molestie non sit amet lorem.</p>
{% endblock %}


{% block Sector3 %}
<p>Fusce aliquet leo vel quam lacinia ultrices. Vivamus sollicitudin dolor facilisis ante consequat molestie. Vestibulum malesuada mattis dignissim. Sed vitae lacus scelerisque, molestie metus non, lobortis risus. Vivamus a pulvinar turpis. Proin justo nisl, blandit sit amet justo a, dignissim placerat nibh. Vivamus congue luctus orci, nec efficitur ante.</p>
{% endblock %}